html,body{
    margin:0;
    padding:0;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
#banner{
    width: 100%;
}
nav, footer{
    background-color: black;
    height: 50px;
    margin-bottom: 5px;
}
nav li, footer ul li {
    display: inline-flex;
    padding-top: 15px;
}
nav li a:hover, a:focus, a:visited, a{
    color: white;
}
h2{
    font-size: 20px;
}

section{
   padding: 2px;
}
.block_content_1{
   width: 100%;
    
}
.block_content_2{
    background: #C7C8C3;
  width: 20%;

    margin-bottom: -10px;
}
section{
    display: inline-flex;
}
img:first-child{
    margin-bottom: -18px;
    padding-bottom: 0px;
}
p{
    font-size: 18px;
}
.coordinate{
    display:inline-block;
    width: 150px;
}
table{
    border: 2px solid black;
    padding: 20px;
}
table tbody td, table tfoot td{
    padding: 10px;
    border: 1px dashed black;
}
