article{
    display: inline-flex;
}
#box_1{
    width: 150px;
    height: 150px;
    border : 5px ridge black; 
    margin-right: 5%;
    overflow: hidden;
    padding-left: -10px;
}
#box_2{
    width: 150px;
    height: 150px;
    border : 5px dashed black;
    overflow: auto; 
    padding : 15px;
}